<br />
<div class="table">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        <thead class="thead-dark">
            <tr>
                <th>Photo</th>
                <th>Display Name</th>
                <th>Mail</th>
                <th>Group memberships</th>
                <th>OneDrive root file count</th>
            </tr>
        </thead>
    </table>
</div>  